
<section class="scroll-sticky-tabs">
	<div class="container">
		<div class="row" id="wrapper-item-sidebar-style">
			<!-- Top Tabs -->
 
    <div class="ledt--sidbar-click position-fixed-1" id="sticky-sidebar">
     {{ drupal_entity('block','cfc_sidbarbecomemember') }}
    </div>
  <div class="element--wrapper-enter african_pioneer">
    <div class="content active" id="tab1">
        {{ drupal_entity('block','cfc_becomemembertab1') }}
    </div> 
     <div class="content" id="tab2">
        {{ drupal_entity('block','cfc_becomemembertab2') }}
    </div>  
     <div class="content" id="tab3">
        {{ drupal_entity('block','cfc_becomemembertab3') }}
    </div>  
  </div>
 
           
			{# <div class="ledt--sidbar-click position-fixed-1" id="sticky-sidebar">
				<div class="sidebar">
					<a href="#tab1" class="active">Eligibility criteria for CFC status<svg xmlns="http://www.w3.org/2000/svg" width="30" height="58" viewbox="0 0 30 58" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M24.6547 30.7211L10.9836 44.3921L7.56641 40.975L19.5289 29.0125L7.56641 17.05L10.9836 13.6328L24.6547 27.3039C25.1077 27.7571 25.3622 28.3717 25.3622 29.0125C25.3622 29.6533 25.1077 30.2679 24.6547 30.7211Z" fill="url(#paint0_linear_4797_6706)"/>
							<defs>
								<linearGradient id="paint0_linear_4797_6706" x1="7.56641" y1="29.0125" x2="23.8467" y2="27.9679" gradientunits="userSpaceOnUse">
									<stop stop-color="#009681"/>
									<stop offset="1" stop-color="#007565"/>
								</linearGradient>
							</defs>
						</svg>
					</a>
					<a href="#tab2">CFC status advantages<svg xmlns="http://www.w3.org/2000/svg" width="30" height="58" viewbox="0 0 30 58" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M24.6547 30.7211L10.9836 44.3921L7.56641 40.975L19.5289 29.0125L7.56641 17.05L10.9836 13.6328L24.6547 27.3039C25.1077 27.7571 25.3622 28.3717 25.3622 29.0125C25.3622 29.6533 25.1077 30.2679 24.6547 30.7211Z" fill="url(#paint0_linear_4797_6706)"/>
							<defs>
								<linearGradient id="paint0_linear_4797_6706" x1="7.56641" y1="29.0125" x2="23.8467" y2="27.9679" gradientunits="userSpaceOnUse">
									<stop stop-color="#009681"/>
									<stop offset="1" stop-color="#007565"/>
								</linearGradient>
							</defs>
						</svg>
					</a>
					<a href="#tab3">How to obtain CFC status<svg xmlns="http://www.w3.org/2000/svg" width="30" height="58" viewbox="0 0 30 58" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M24.6547 30.7211L10.9836 44.3921L7.56641 40.975L19.5289 29.0125L7.56641 17.05L10.9836 13.6328L24.6547 27.3039C25.1077 27.7571 25.3622 28.3717 25.3622 29.0125C25.3622 29.6533 25.1077 30.2679 24.6547 30.7211Z" fill="url(#paint0_linear_4797_6706)"/>
							<defs>
								<linearGradient id="paint0_linear_4797_6706" x1="7.56641" y1="29.0125" x2="23.8467" y2="27.9679" gradientunits="userSpaceOnUse">
									<stop stop-color="#009681"/>
									<stop offset="1" stop-color="#007565"/>
								</linearGradient>
							</defs>
						</svg>
					</a>
				</div>
			</div> #}

			

		</div>
	</div>
</div></section>
