<div class="owl-carousel main-carousel owl-theme">

 {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
</div>

<div class="owl-carousel thumb-carousel owl-theme">

 {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
</div>
