@media (min-width: 992px) {
  .videos_similaires img {
  object-fit: cover;
}
  .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
  }

  .video-overlay h1 {
    max-width: 54%;
  }

  .all__icons_social a:hover {
    background-color: #000;
    border: 1px solid #fff;
  }

  header .all__icons_social a {
    border: 0;
  }

}

@media (max-width: 991px) {
  .video-overlay h1 {
    max-width: 65%;
  }

  .video-overlay h1 {
    font-size: 30px;
    line-height: normal;
  }

  .detail___video_node .video-thumbnail {
    height: 300px;
  }

  .detail___video_node h3 {
    font-size: 30px;
    line-height: normal;
  }

  .detail___video_node .col-lg-8 {
    padding-bottom: 40px;
  }

  .left---img_recent img {
    object-fit: cover;
  }

  .footer---btm .row>div:last-child .all__icons_social {
    text-align: left;
    justify-content: left;
  }

  .footer---btm .row>div:last-child .all__icons_social+div {
    text-align: left;
  }

  .detail___video_node .video-thumbnail {
    height: auto;
  }

  .detail___video_node .video-thumbnail iframe {
    height: auto;
  }

  .video__info {
    width: 55%;
  }
  .detail___video_node .video-thumbnail iframe {
  width: 100vw;
  height: calc(100vw * 9 / 16);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: block;
  border: none;
}
.video__badge{
  font-size: 10px !important;
}
.slider__owl .item img {
  object-fit: contain;
}
  .slider__owl .item img {
    object-fit: cover;
    height: 222px;
  }
.wrapper_img {
  height: 222px;
}
.all_video_owl .owl-nav {

  top: 34%;

}
}
