.vimeo-item iframe {
  width: 100%;
}
/*  */
.wrapper_img::before {

  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
}


.video__badge div {
  border-radius: 33554400px;
  opacity: 0.9035;
  background: #FFF;
  width: 6px;
  height: 6px;
  position: relative;
  top: 5px;
}
.video__badge {
  display: flex !important;
  align-content: center;
  justify-content: center;
  margin: auto;
  gap: 5px;
}
.video__badge p {
  color: #B3B3B3;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.video__info p {
  color: #B3B3B3;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.video__duration {
  display: none;
}
.video__info {
  position: absolute;
  bottom: 0;
  padding: 0 10px;
}
.video__play {
  width: 30px;
  height: 30px;
  display: none;
}
.all_video_owl .item:hover .wrapper_img::before {
  /*! opacity: 1; */
  /*! transform: translate(-50%, -50%) scale(1.1); */
}
.all_video_owl .item:hover .wrapper_img::before {
  background: rgba(0, 0, 0, 0.52);
  opacity: 1;
}
.video__info h6 {
  margin-bottom: 2px;
}
.video_box .left---img_recent::before {
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
}
.videos_similaires img {
  border-radius: 8px !important;
}


.left---img_recent .video__badge {
  line-height: normal;
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.detail___video_node small {
  display: none;
}
.videos_similaires a,.all_video_owl .item .video__link {
  pointer-events: none;
}

.detail___video_node .description {
  display: none;
}
.detail___video_node .video-thumbnail iframe {
  width: 100vw;
  height: calc(100vw * 5 / 16);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: block;
  border: none;
}
.wrapper_img {
  width: 100%;
}
.video__info p {
  opacity: 0;
  margin-bottom: 0;
}
.video__badge {
  top: auto;
  bottom: 60px;
}
.left---img_recent .video__badge {
  top: auto;
  bottom: 10px;
  font-size: 10px;
}

.video__info .video__badge {
  color: #fff;
  font-size: 10px;
  line-height: normal;
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  width: max-content;
  margin: 0;
  left: auto;
  bottom: 5px;
}
#remove_all {
  display: none;
}
.vedio__full_first .video-overlay {
  position: absolute;
  bottom: 0;
  background: initial;
  height: auto;
  z-index: 6;
}
.vedio__full_first .video-container {
  z-index: 3;
}
/* .vedio__full_first iframe {

  height: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #121212;
} */
.realise__footer a {
  pointer-events: none;
}
