{# <div class="select-items">


 {{ rows }}
</div>
 <div class="select-items">
    {{ rows }}
</div>

{{ dump(content) }} #}


{# ********* #}
			<div class="members">
  {{ rows }}
				{# <div class="member" data-country="United States" data-category="multinational">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-1.png"></div>
					<div class="parnet--title">Middle East & Africa 1<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div> #}
				{# <div class="member" data-country="United States" data-category="multinational">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-1.png"></div>
					<div class="parnet--title">Middle East & Africa 2<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>

				<div class="member" data-country="Africa" data-category="banks">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-2.png"></div>
					<div class="parnet--title">Bank of Africa 3<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="France" data-category="law">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-2.png"></div>
					<div class="parnet--title">law dddd<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="United States" data-category="law">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-3.png"></div>
					<div class="parnet--title">Baker & McKenzie 4<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="France" data-category="asset">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-4.png"></div>
					<div class="parnet--title">Africa 50 5<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="United States" data-category="multinational">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-5.png"></div>
					<div class="parnet--title">The Boston Consulting Group 6<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="United States" data-category="multinational">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-1.png"></div>
					<div class="parnet--title">Middle East & Africa 7<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="United States" data-category="multinational">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-1.png"></div>
					<div class="parnet--title">Middle East & Africa 8<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="Africa" data-category="banks">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-2.png"></div>
					<div class="parnet--title">Bank of Africa 9<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="United States" data-category="law">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-3.png"></div>
					<div class="parnet--title">Baker & McKenzie 10<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="France" data-category="asset">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-4.png"></div>
					<div class="parnet--title">Africa 50 11<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="United States" data-category="multinational">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-5.png"></div>
					<div class="parnet--title">The Boston Consulting Group 12<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="United States" data-category="services">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-6.png"></div>
					<div class="parnet--title">Mastercard 13<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="member" data-country="United States" data-category="services">
					<div class="img--pays-el"><img src="/themes/custom/desktech/Desktech/assets/images/l-7.png"></div>
					<div class="parnet--title">Deloitte 14<div class="link--arrow-ps">
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
									<path d="M7.12477 20.5815H25.4693L18.3443 27.7065L20.5831 29.9453L31.5303 18.9981L20.5831 8.05098L18.3443 10.2898L25.4693 17.4148H7.12477V20.5815Z" fill="#00677F"/>
								</svg>
							</a>
						</div>
					</div>
				</div> #}
			</div>
