<section class="management_team">
    <div class="title-primary-sc mb-3">
        <h2 class="text-center mb-4">
            CFC management team
        </h2>
    </div>
    <div class="container">
        <div class="row g-4">
            <!-- Card 1 -->
            
        {{ rows }}
        </div>
    </div>
</section>