{#
/**
 * @file
 * Theme implementation for webform html editor markup.
 *
 * Available variables
 * - markup: HTML markup.
 * - allowed_tags: Allowed tags.
 * - content: Renderable HTML markup.
 *
 * Using Twig output modifier to remove extra carriage returns at the end of
 * the generated markup.
 *
 * @see template_preprocess_webform_html_editor_markup()
 * @see \Drupal\webform\Element\WebformHtmlEditor::checkMarkup
 * @see https://www.drupal.org/project/drupal/issues/2245901
 * @see https://twig.symfony.com/doc/2.x/templates.html#whitespace-control
 * @ingroup themeable
 */
#}
<!-- Modal HTML -->
<!-- Modal HTML -->
<div class="modal----wrapper">
		<div class="modal-content">
			<div class="wrapper_modal">
				<div class="img__modal">
					<img src="\themes\custom\ux4mation\public\images\fxemoji_email.png" alt="Success Image">
				</div>
				<h2>Email Sent Successfully</h2>
				<p class="para1_modal">Thank you for reaching out to UX4MATION! Your email has been successfully sent. One of our team members will contact you within the next 48 hours.</p>
				<p class="para2_modal">We’re committed to providing you with excellent support and will do our best to address your needs as quickly as possible. In the meantime, feel free to explore our resources or reach out if you have any urgent inquiries.</p>
				</div>
		</div>
</div>
