{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper_submit">
<input{{attributes}}/>{{ children }}
<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 36 36" fill="none">
	<g clip-path="url(#clip0_5733_6151)">
		<path d="M30.5462 16.9395C30.8274 17.2208 30.9854 17.6022 30.9854 18C30.9854 18.3977 30.8274 18.7792 30.5462 19.0605L22.0607 27.546C21.9223 27.6892 21.7568 27.8035 21.5738 27.8821C21.3908 27.9607 21.1939 28.0021 20.9948 28.0038C20.7956 28.0056 20.5981 27.9676 20.4137 27.8922C20.2294 27.8168 20.0619 27.7054 19.9211 27.5646C19.7802 27.4237 19.6689 27.2562 19.5934 27.0719C19.518 26.8876 19.4801 26.69 19.4818 26.4909C19.4835 26.2917 19.5249 26.0949 19.6035 25.9119C19.6821 25.7289 19.7964 25.5633 19.9397 25.425L25.8647 19.5H6.00017C5.60235 19.5 5.22082 19.3419 4.93951 19.0606C4.65821 18.7793 4.50017 18.3978 4.50017 18C4.50017 17.6021 4.65821 17.2206 4.93951 16.9393C5.22082 16.658 5.60235 16.5 6.00017 16.5H25.8647L19.9397 10.575C19.6664 10.2921 19.5152 9.91317 19.5187 9.51987C19.5221 9.12658 19.6798 8.75036 19.9579 8.47225C20.2361 8.19413 20.6123 8.03638 21.0056 8.03296C21.3989 8.02954 21.7778 8.18074 22.0607 8.45397L30.5462 16.9395Z" fill="white"></path>
	</g>
	<defs>
		<clipPath id="clip0_5733_6151">
			<rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)"></rect>
		</clipPath>
	</defs>
</svg>

</div>