<!-- Modal HTML -->
<div class="modal----wrapper">
	<div id="thank-you-modal" class="modal">
		<div class="modal-content">
			<span class="close-modal">×</span>
			<div class="wrapper_modal">
				<div class="img__modal">
					<img src="\themes\custom\ux4mation\public\images\fxemoji_email.png" alt="Success Image">
				</div>
				<h2>Email Sent Successfully</h2>
				<p class="para1_modal">Thank you for reaching out to UX4MATION! Your email has been successfully sent. One of our team members will contact you within the next 48 hours.</p>
				<p class="para2_modal">We’re committed to providing you with excellent support and will do our best to address your needs as quickly as possible. In the meantime, feel free to explore our resources or reach out if you have any urgent inquiries.</p>
				<a href="#" class="submit--frm">
					<div>Confirm</div>
					<a/>
				</div>
			</div>
		</div>

	</div>
